#root{
  --padding: 20px;
  --green: #EAFF47;
  --darkgreen: #8AD435;
  position: absolute;
  height: 100%;
  width: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html{
  background-image: url('/public/images/BG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
  width: 100%;

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: nowrap;
  color: white;
  font-size: 24px;
  /* overflow-y: scroll; */
}

p{
  width: fit-content;
}

.logo{
  height: auto;
  width: 60vh;
  user-select: none;
  -webkit-user-drag: none;
}

/* Input */
.midSection{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.directions{
  padding: 20px;
}
.inputFields{
   width: 100%;
  display: flex;
   flex-direction: row;
   column-gap: 5%;
   row-gap: normal;
   margin: 50px 0;
   flex-wrap: wrap;
   justify-content: center;
}

.inputFields textarea{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 24px;
  background-color: var(--green);
  border: 1px inset var(--darkgreen);
  border-radius: 35px;
  width: 500px;
  height: 180px;
  color: black;
  text-align: start;
  padding: 20px;
}
.inputFields textarea:active{
  outline:var(--darkgreen) !important;
}

.inputFields textarea::placeholder {
  color: black;
}

.mobileConvertButton {
  display: none;
}
.convertButton, .mobileConvertButton{
  transition: 0.9s;
  cursor: pointer;
  margin: 20px;
  width: 208px;
  height: 75px;
  border-radius: 20px;
  background: url('/public/images/KRANKIT.png') no-repeat;
  background-origin: content-box;
}

.convertButton:hover{
-webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--green) 0 -10px 20px, var(--darkgreen) 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--green) 0 -10px 20px, var(--darkgreen) 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* Caption */
.captions{
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  width: 100%;
  margin: 40px 0;
  align-items: center;
  align-content: center;
}
.captions a{
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none;
  color: inherit !important;
  transition: 0.9s;
}

.nablaCaption{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  width: fit-content;
}
.nablaCaption:hover, .afterDarkCaption:hover{
  opacity: 0.5;
}

.CD{
  fill: #FFF;
  height: 16px;
  display: inline-block;
}

/* Mobile */
@media only screen and (max-width: 768px) {
body {
    background-image: url('/public/images/BG-mobile.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
  }

  .App{
    font-size: 14px;
    background-image: none;
    /* margin-bottom: 300px !important; */
    padding: 10px !important;
  }

.logo {
  margin-top: 20px;
  height: auto;
  width: 85%;
}
    .inputFields {
      display: flex;
      flex-direction: column;
      /* row-gap: 30px; */
      margin: 0;
      width: 100%;
      align-items: center;
    }
    .inputFields textarea {
      background-color: var(--green);
      border: 1px inset var(--darkgreen);
      border-radius: 35px;
      width: 95vw;
      height: 150px;
      font-size: 18px;
      padding: 20px;
    }
    .convertButton {
      display: none !important;
    }
    .mobileConvertButton{
      display: block !important;
      border: 1px solid rgb(52, 51, 51) !important;
    }
    .captions{
      row-gap: 30px;
      align-items: center;
      /* margin-bottom: 60px; */
    }
}