#root{
  --padding: 20px;
  --green: #EAFF47;
  --darkgreen: #8AD435;
  position: absolute;
  height: 100%;
  width: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html{
  background-image: url('/public/images/BG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: nowrap;
  color: white;
  font-size: 18px;
  /* overflow-y: scroll; */
}

p{
  width: fit-content;
}

.logo{
  height: auto;
  width: 60vh;
  user-select: none;
  -webkit-user-drag: none;
}

/* Input */
.midSection{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.directions{
  padding: 20px;
}
.inputFields{
   width: 100%;
  display: flex;
   flex-direction: row;
   column-gap: 5%;
   row-gap: normal;
   margin: 50px 0;
   flex-wrap: wrap;
   justify-content: center;
}

.inputFields textarea{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 24px;
  background-color: var(--green);
  border: 1px inset var(--darkgreen);
  border-radius: 35px;
  width: 500px;
  height: 180px;
  color: black;
  text-align: start;
  padding: 20px;
}
.inputFields textarea:active{
  outline:var(--darkgreen) !important;
}

.inputFields textarea::placeholder {
  color: black;
}

.buttonLayout{
  width: min-content;
  height: min-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.convertButton{
  transition: 0.9s;
  cursor: pointer;
  margin: 20px;
  width: 208px;
  height: 75px;
  border-radius: 20px;
  background: url('/public/images/KRANKIT.png') no-repeat;
  background-origin: content-box;
}

.convertButton:hover{
-webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--green) 0 -10px 20px, var(--darkgreen) 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--green) 0 -10px 20px, var(--darkgreen) 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.buttonHover {
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--green) 0 -10px 20px, var(--darkgreen) 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--green) 0 -10px 20px, var(--darkgreen) 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.clearButton{
    transition: 0.9s;
    cursor: pointer;
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    color: #FFF;
    background-color: rgb(45, 45, 45);
    user-select: none;

}

/* Caption */
.footer{
  display: flex;
  position: fixed;
  bottom: 10px;
  width: 100%;
  padding-left: 20px;
}

.footer p{
  margin: 0;
}

.captions{
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  width: 100%;
  margin: 10px 0;
  padding-right: 20px !important;
  justify-content: flex-end;
  align-items: baseline;
}
.captions a{
  width: fit-content !important;
  font-size: 14px;
  white-space: nowrap;
  transition: 0.7s;
}

.captions a:hover{
  opacity: 0.5;
}

 .ADD,
 .Chong, .CD{
  fill: #FFF;
  height: 20px;
  width: auto;

 }

 .CD{
  height: 25px;
 }

/* Mobile */
@media only screen and (max-width: 768px) {
body {
    background-image: url('/public/images/BG-mobile.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
  }

  .App{
    font-size: 14px;
    background-image: none;
    /* margin-bottom: 300px !important; */
    padding: 10px !important;
  }

.logo {
  margin-top: 20px;
  height: auto;
  width: 60% !important;
}
    .inputFields {
      display: flex;
      flex-direction: column;
      /* row-gap: 30px; */
      margin: 0;
      width: 100%;
      align-items: center;
    }
    .inputFields textarea {
      background-color: var(--green);
      border: 1px inset var(--darkgreen);
      border-radius: 35px;
      width: 95vw;
      height: 150px;
      font-size: 18px;
      padding: 20px;
    }

    .convertButton{
      transform: scale(0.8,0.8);
      display: block !important;
      border: 1px solid rgb(52, 51, 51) !important;
    }

    .footer{
      bottom: 15px !important; 
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 0 !important;
      height: min-content;
      row-gap: 15px;
    }
    .footer p{
      align-self: flex-start;
    }
    .captions{
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 !important;
      /* margin-bottom: 60px; */
    }
}