#root{
  --padding: 20px;
  --green: #EAFF47;
  --darkgreen: #8AD435;
  position: absolute;
  height: 100%;
  width: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.App {
  background-image: url('/public/images/BG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5%;
  flex-wrap: nowrap;
  color: white;
  font-size: 24px;

}

.logo{
  height: auto;
  width: 60vh;
  user-select: none;
  -webkit-user-drag: none;
}

.inputFields{
  display: flex;
  column-gap: 10%;
}

.inputFields textarea{
  background-color: var(--green);
  border: 1px inset var(--darkgreen);
  border-radius: 35px;
  width: 500px;
  height: 220px;
  color: black;
  font-size: 24px;
  text-align: start;
  padding: 20px;
}
.inputFields textarea:active{
  outline:var(--darkgreen) !important;
}

.convertButton{
  transition: 0.9s;
  cursor: pointer;
  margin: 20px;
  width: 208px;
  height: 75px;
  border-radius: 20px;
  background: url('/public/images/KRANKIT.png') no-repeat;
}

.convertButton:hover{
-webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--green) 0 -10px 20px, var(--darkgreen) 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, var(--green) 0 -10px 20px, var(--darkgreen) 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}